@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	
	 .card {
		perspective: 1000px;
	}

	.card__content {
		transform: rotateX(-90deg);
	}
	.card:hover .card__content {
		transform: rotateX(0deg);
	}

	.card:hover Image {
		scale: 0;
	} 
}


